<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script ﻿src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <h1>helloTest</h1>
    <span id="testReturn"></span>
</body>
    <script>
        window.onload=function () {
            $.ajax({
                url:"http://localhost:8011/wxid",
                success:function (res) {
                    console.log(res)
                }
            });
        }
    </script>
</html>